*{
    margin-top: 0px;
    padding: 0px;
    font-family: 'Arial';
}
html{
    scroll-padding-top: 168px; 
}
body{
    background-color: #F2F2F2;
}
.navbar{
    font-size: 25px;  
    background-color: #F2F2F2;
	position: sticky;
    width: 100%;
	top: 0;
    z-index: 2;
}
.navbar div{
    display: flex;
    margin-left: 70px;
}
.navbar .home{
    color: #4126B0;
}
.navbar a{
    color: #4A4A4A;
    padding: 70px 40px;
}


/*            BANNER            */
.banner{
    background-color: #5115FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFBFF;
    padding: 100px 0px;
}
.banner h2{
    font-size: 35px;
}
.banner img{
    height: 100px;
    width: 100px;
}
.banner p{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.banner form{
    padding-top: 10px;
}


/*          HIDE AND GO SECTION        */
.hide-and-go{
    background-color: rgb(227, 226, 227);
    font-size: 20px;
    color: #4F4E4F;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 100px 0px;
}
.hide-and-go p{
    width: 75%;
}
.hide-and-go span{
    font-weight: bold;
}
.hide-and-go .subParag{
    font-style: italic;
}
.hide-and-go .img-box{
    border: 3px solid goldenrod;
    width: 15%;
    min-width: 190px;
}
.hide-and-go img{
    width: 100%;
    min-width: 190px;
}



/*      COMMENT SECTION       */
.glitter{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.glitter h1{
    color: #5115FF;
    font-size: 100px;
    margin: 0px;
    padding-bottom: 30px;
}
.glitter p{
    font-size: 20px;
    font-family: 'Arial';
    font-weight: normal;
}
.glitter li{
    display: flex;
    align-items: center;
}
.glitter .comments{
    padding: 20px 30px;
}
.glitter li p{
    margin: 0px;
}
.glitter img{
    width: 4%;
    min-width: 60px;
}
